/* app.css */

/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Encabezados */
h1, h2 {
  color: #333;
  text-align: center;
}

/* Párrafos */
p {
  color: #666;
  text-align: center;
}

/* Estilo para el contenedor del formulario */
.form-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

/* Estilo para los formularios */
.registro-form, .login-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

/* Botones */
.submit-button, button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover, button:hover {
  background-color: #0056b3;
}

/* Estilo para el componente Administrador */
.admin-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para la lista de enlaces */
.admin-container ul {
  list-style-type: none;
  padding: 0;
}

.admin-container li {
  margin: 10px 0;
}

.admin-container a {
  text-decoration: none;
  color: #007bff;
}

.admin-container a:hover {
  text-decoration: underline;
}

/* Estilo para el botón de cerrar sesión */
.logout-button {
  background-color: #dc3545; /* Rojo para indicar cierre de sesión */
  margin-top: 20px;
}

.logout-button:hover {
  background-color: #c82333;
}

/* Estilo para el mensaje de bienvenida */
.welcome-message {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.2em;
  color: #333;
}

/* Ajustes de diseño responsivo */
@media (max-width: 600px) {
  .form-container, .admin-container {
    padding: 15px;
    max-width: 90%;
  }
}
